[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"
flake8-docstrings = "*"
flake8-import-order = "*"
black = "==19.3b0"
sphinx = "*"
mypy = "*"
isort = "*"

[packages]
cothread = ">=2.15"
numpy = "*"
pygelf = "*"
scipy = "*"
pyqt5 = "*"
PythonQwt = "*"
guidata = "*"
guiqwt = "*"
